--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.0+cu118
torchvision==0.15.1+cu118
fairscale
sentencepiece
Pillow
opencv-python
gradio
tqdm
timm
git+https://github.com/openai/CLIP.git
